In [1]:
'''
Convertion factor
Sex : Male - 1, Female - 0


'''

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
df = pd.read_csv("Datasets/cleandata.csv")

In [11]:
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [13]:
df.shape

(188, 6)

In [23]:
categorical_feature = df.columns[df.dtypes == 'object']
numerical_feature = df.columns[df.dtypes != 'object']

In [25]:
categorical_feature

Index(['Sex', 'BP', 'Cholesterol', 'Drug'], dtype='object')

In [27]:
numerical_feature

Index(['Age', 'Na_to_K'], dtype='object')

In [31]:
for fea in categorical_feature:
    unique = df[fea].unique()
    print(f"{fea} :  {unique}")

Sex :  ['F' 'M']
BP :  ['HIGH' 'LOW' 'NORMAL']
Cholesterol :  ['HIGH' 'NORMAL']
Drug :  ['DrugY' 'drugC' 'drugX' 'drugA' 'drugB']

In [33]:
df["Sex"] = df['Sex'].map({'F':0,"M":1})

In [ ]:
df["BP "] = df['Sex'].map({'LOW':0,"M":1})